/* Reset some default styling */
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Styling for tables */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  /* Styling for buttons */
  .btn {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
  }
  
  .btn-title {
    background-color: #007bff;
  }

  .btn-create {
    background-color: #da7b00;
  }
  
  /* Styling for images */
  img {
    max-width: 100%;
    height: auto;
  }
  