.point-nav {
  margin-left: 109px;
  margin-right: 108px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 90px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.point-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  margin-right: 8px;
  margin-left: 8px;

  height: 71px;


  border: none;
  border-radius: 7px;

  background-color: #101010;
  color: #ffffff;

  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}

.point-nav-link.selected {
  background-color: #ffffff !important;
  color: #101010 !important;
  border: 1px solid #101010 !important;
}

/* -------------------------------------------------------------------- */

.all {
  margin-left: 109px;
  margin-right: 108px;

  padding-top: 30px;
  padding-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.all-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  text-decoration: none;
  text-align: center;
}

.all-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.all-img {
  width: 100%;
  height: 500px;
  /* Adjust the height as needed */
  margin-bottom: 10px;
  border-radius: 4px;
}

.all-info {
  margin-bottom: 10px;
}

.all-label {
  margin-bottom: 10px;

  font-size: 35px;

  color: #333;
  text-decoration: none;
  /* Remove the underline */
}

.all-labelDescription {
  font-size: 20px;
  color: #777;
}

/* -------------------------------------------------------------------- */
.brand {
  margin-left: 109px;
  margin-right: 108px;

  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.brand-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-bottom {
  margin-top: 10px;
  margin-bottom: 10px;


  display: flex;
  align-items: center;
  justify-content: center;
}


.brand-button {
  height: 58px;
  width: 58px;

  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid rgba(135, 135, 135, 0.5);

  border-radius: 50%;
}


.brand-list {
  margin-left: 26px;
  margin-right: 26px;

  padding-left: 19px;
  padding-right: 19px;

  height: 379px;
  width: 621px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 1px solid #4E4E4E;
  border-radius: 30px;
}

.brand-logo {
  width: 300px;

  cursor: pointer;
}

.brand-name {
  margin-top: 10px;

  font-size: 20px;
  font-weight: 700;
}

.brand-description {
  margin-top: 5px;

  font-size: 16px;
  font-weight: 300;
  color: #262525;
  line-height: 1.7;
}

.brand-dot {
  width: 20px;
  height: 20px;

  background-color: #E0D9EB;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.brand-dot.active {
  background-color: #9582BA;
}

/* -------------------------------------------------------------------- */

.lookName {
  margin-left: 109px;
  margin-right: 108px;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;


  display: flex;
  align-items: center;
  justify-content: space-between;


  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.look {
  margin-left: 10px;
  margin-right: 10px;

  flex: 1;

  height: 500px;
  box-sizing: border-box;
  border: 1px solid #4E4E4E;
  border-radius: 30px;

  overflow: hidden;
  position: relative; /* 추가 */
}

.look-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
  z-index: 1; /* Move look-text to the top */
  opacity: 0;
  transition: opacity 0.3s ease;

  color: white;
  font-size: 33px;
  font-weight: 700;
  filter: brightness(100%);
}

.look:hover .look-img {
  filter: brightness(60%);
  z-index: -1; /* Move look-img to the back */
}

.look:hover .look-text {
  opacity: 1;
}

.look-img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
