.teststart {
    margin-left: 109px;
    margin-right: 108px;

    padding-top: 90px;
    padding-left: 86px;
    padding-bottom: 90px;

    position: relative;
    overflow: hidden;

    font-weight: 700;
}

.teststart video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.teststart-h1 {
    color: #CCBEE7;
    font-size: 75px;
}

.teststart-p {
    margin-top: 27px;

    color: #FFFFFF;
    font-size: 37.5px;
}

.teststart-button {
    margin-top: 80px;

    width: 340px;
    height: 94px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #111111;
    background-color: #FFFFFF;

    text-decoration: none;
    color: #A398BA;
    font-size: 37.5px;
}