body {
  margin: 0;
  padding: 0;
}
.footer {
  width: 100%;
  height: 200px;
  background-color: black;
}
.footer_main {
  width: 100%;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
.footer_left {
  font-size: 30px;
  font-weight: 550;
  padding-left: 20px;
  padding-top: 20px;
}
.footer_middle {
  padding-top: 20px;
}
.footer_right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 20px;
}
.right_top {
  display: flex;
  flex-direction: row;
}
.right_bar {
  color: gray;
  margin-left: 5px;
  margin-right: 5px;
}
