.header {
  padding-left: 109px;
  padding-right: 105px;
  padding-top: 48px;
  padding-bottom: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* ------------------------------------------------------------------- */
.header-logo-image {
  width: 284px;
}

/* ------------------------------------------------------------------- */
.header-right {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-right: 28px;
  padding-left: 128px;
}

.fab {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: #000000;
}

.login-button {
  width: 83px;
  height: 37px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #515151;
  border-radius: 10px;

  text-decoration: none;
  color: #C0B2DA;
  font-size: 20px;
  font-weight: 700;
}