

.logobar {
  background: var(--fff-color);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logoHome {
  color: var(--000-color);
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  align-items: center;
}

.logoHome:hover {
  color: var(--primary-color);
}

.logoIcon {
  width: 100px;
}

.logoSignup {
  color: var(--000-color);
  justify-self: flex-end;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.logoSignup:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 960px) {
  /* 미디어 쿼리에 관한 스타일 추가 */
}
