body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto; /* 중앙 정렬을 위한 auto 마진 설정 */
}
.logo_text {
  font-size: 40px;
  font-weight: 600;
  padding-left: 20px;
}

.header_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.header_logo1 {
  width: 34px;
  height: 34px;
  margin-right: 5px;
}
.header_logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.header_login {
  padding-right: 20px;
}
