/* 전체 페이지 스크롤 바 숨기기 */
body::-webkit-scrollbar {
  display: none; /* 웹킷(크롬, 사파리 등) 브라우저용 */
  margin: 0px;
  padding: 0px;
}

body {
  -ms-overflow-style: none; /* IE, 엣지 브라우저용 */
  scrollbar-width: none; /* 파이어폭스용 */
  margin: 0px;
  padding: 0px;
}

.test {
  width: 95%;
  height: 700px;
  border-left: 2px solid gray; /* 왼쪽 테두리 */
  border-right: 2px solid gray; /* 오른쪽 테두리 */
  margin: 0px auto;
}
