/* Colors */
:root {
  --primary-color: #C0B2DA;
  --secondary-color: #755FA2;
  --fff-color: #fff;
  --000-color: #000;
}

/* Component Styles */
.test,
.lookbook,
.sign-up {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--fff-color);
  font-weight: bold;
}

.btn {
  padding: 12px 20px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--fff-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--secondary-color);
}
